body{
    font-family: 'Voltaire', sans-serif;
    color: aliceblue;
    overflow-x: hidden;
    background-image: url(img/mainbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 700px;
}
nav{
    font-size: 20px;
    width: auto;
    left: 20%;
    display: inline-flex;
    position: relative;
}
nav ul li{
    list-style: none;
    position: relative;
    float: left;
    margin:10px 30px;
}
#login{
    margin:auto 40px auto auto;
    font-size: 40px;
    float: right;
}
#login button{
    color: rgb(247, 221, 255);
    font-family: 'Voltaire', sans-serif;
    font-size: large;
    margin-left: 20px;
    height: 50px;
    background-image: linear-gradient(to right, #c14088, #c04891, #be4f99, #bc56a1, #ba5da8, #bc64ae, #bd6bb3, #bf72b9, #c57bbf, #cb84c5, #d08dcb, #d696d1);    border-radius: 10%;
    border: none;
    box-shadow: 10px 0px 20px 12px rgb(74, 35, 71);

}
#login button:hover{
    box-shadow: 10px 0px 20px 12px rgb(183, 130, 175);
    width: auto;
}
#main{
    height: 650px;
}
article{
    margin: 10px auto;
    background-color: transparent;
    width: 900px;
    height: 450px;
    padding: 20px 80px;
    border-radius: 20px;
    box-shadow: 0px 0px 60px rgb(183, 130, 175);
}


#btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    color: white;
    font-family: 'Voltaire', sans-serif;
    font-size: 30px;
    background-color: transparent;
    position: absolute;
    margin-left: 640px;
    margin-top: 100px;

}
.gg {
    position: absolute;
    margin-left: 600px;
    margin-top: -160px;
    width: 200px;
    height: 200px;
    transition: transform 0.3s; 
}
.gg video{
    margin-top: -30px;
    margin-left: -25px;
}

#btn:hover ~ .gg {
    transform: scale(1.2);
    border-radius: 50%;
    box-shadow: 0px 0px 50px 12px rgb(183, 130, 175);
    /* Enlarge the divs by 20% */
}
#vr{
    margin-left: -50px;
}
.pic{
    float: left;
    width: 100px;
    height: 150px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 30px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 30px 0px 40px 12px rgb(74, 35, 71);
    
}
.pic img{
    border-radius: 20px ;
    height: 100px;
    width: 100px;
}
#infobg{
   margin: 50px auto;
   width: 1000px;
   padding: 0px 30px;
   text-align: center;
   
}
#infobg .left{
    width: 800px;
    height: 300px;
    padding: 20px;
    float: left;
    margin: 50px auto;
    border-radius: 50px;
    box-shadow: 0px 0px 70px 12px rgb(183, 130, 175);
}
#Factory img{
    border-radius: 50px;
    width: 300px;
    height:200px ;
    float: left;
}
#infobg .right{
    width: 800px;
    height: 300px;
    padding: 20px;
    float: right;
    margin: 50px auto;
    border-radius: 50px;
    box-shadow: 0px 0px 70px 12px rgb(183, 130, 175);
}
#cloud img{
    border-radius: 50px;
    width: 300px;
    height:200px ;
    float: right;
}